<?xml version="1.0"?>

<model>
  <name>Connect 4</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Josh Moody</name>
    <email>joshuaj.emoody@gmail.com</email>
  </author>

  <depend>
    <model>
      <uri>model://connect4/meshes/connect4.dae</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    Connect 4 board.
  </description>
</model>
